<h2>Search Results Go here</h2>

<!-- I cannot effing get ng-if to effing work. :(	 -->
<!-- <div ng-if="movieList.details"> -->
	<!-- Loading Results... -->
	<!-- animation maybe? -->
<!-- </div>	 -->

<!-- <div ng-if="movieList.details.total_results!='undefined'">  -->
	
	<h1>you searched for:</h1>
	<strong> {{movieList.actorName}}</strong>
	<h3>He's been in:</h3>
		<div ng-repeat="object in movieList.relatedInfo"> 
			<h2>{{object.title}}</h2> <!-- consider my mind officially blown by angular at this point -->
			<img ng-src="https://image.tmdb.org/t/p/w342{{object.poster_path}}">
			<blockquote>{{object.overview}}</blockquote>
		</div>
	<!-- <p>{{movieList.details.results[0]}}</p> -->
<!-- </div> -->